name: Python Unit Tests

on:
  push:
    branches: [ main, config-github-actions ]
  pull_request:
    branches: [ main, config-github-actions ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          version: 0.7.19 # workaround for uv error on ubuntu: sqlite3.OperationalError: no such module: fts5
          python-version: ${{ matrix.python-version }}

      - name: Run tests with pytest and coverage
        run: uv run pytest tests --cov=app --cov-report=xml --cov-report=term

      - name: Generate coverage badge
        if: matrix.python-version == '3.13' && github.ref == 'refs/heads/main'
        uses: tj-actions/coverage-badge-py@v2
        with:
          output: coverage.svg

      - name: Commit coverage badge
        if: matrix.python-version == '3.13' && github.ref == 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: update coverage badge"
          file_pattern: coverage.svg
          skip_dirty_check: false
